@model string

<div class="text-center mt-4">
    <button type="submit" id="saveBtn" class="btn btn-primary">
        <i class="fas fa-save"></i> Lưu
    </button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Quay lại
    </a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#@Model").on("submit", function () {
                $("#saveBtn").prop("disabled", true).html('<i class="fas fa-spinner fa-spin"></i> Đang lưu...');
            });
        });
    </script>
}
